<div class="col col-md-8 col-lg-10">
  <table class="table">
    <thead>
      <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">Nombre común</th>
        <th scope="col">Tipo</th>
        <th scope="col">Clima</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plant of plants; let i = index">
        <th scope="row" id="rowNumber">{{ i + 1 }}</th>
        <th>{{plant.nombre_comun}}</th>
        <th>{{plant.tipo}}</th>
        <th>{{plant.clima}}</th>
      </tr>
    </tbody>
  </table>
  <app-plant-type [plants]="plants"></app-plant-type>
</div>
